/*!
 * @theme uranus
 * @author Tatsuya Sakaguchi
 */

@import 'gaia';

section {
  color: #202228;
  background-color: #fdfcff;
  font-size: 16pt;
  padding: 45px;
}

h1 {
    font-size: 30pt;
}

h2 {
  font-size: 26pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 22pt;
}

h5 {
  font-size: 20pt;
}

h6 {
  font-size: 18pt;
}


table {
  margin: 10px auto auto;
}

blockquote {
  width: fit-content;
  margin: 10px auto auto;
}

pre {
  width: fit-content;
  margin: 10px auto auto;
}

img {
  display: block;
  margin: 10px auto auto;
}

object {
  display: block;
  margin: 10px auto auto;
}